[user]
	email = kevin@xorkevin.com
	name = Kevin Wang
	signingkey = 2E42FF4C895D00AB
[alias]
	fire = !git checkout -b fire-branch-emergency && git add -A && git commit --no-gpg-sign -m \"emergency commit: fire\" && git push origin fire-branch-emergency
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
	keepBackup = true
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[include]
	path = .config/git.d/urls
[commit]
	gpgsign = true
