[user]
	email = kevin@xorkevin.com
	name = Kevin Wang
	signingkey = 2E42FF4C895D00AB
[alias]
	fire = !git checkout -b fire-branch-emergency && git add -A && git commit --no-gpg-sign -m \"emergency commit: fire\" && git push origin fire-branch-emergency
[diff]
	algorithm = histogram
	tool = vimdiff
[difftool]
	prompt = true
[difftool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = vimmerge
[mergetool]
	prompt = true
	keepBackup = true
[mergetool "vimmerge"]
	cmd = nvim -d $LOCAL $MERGED $REMOTE
[include]
	path = .config/git.d/urls
[commit]
	gpgsign = true
