URxvt.font: xft:Hack Nerd Font Mono:size=8
URxvt.letterSpace: 0
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: selection-to-clipboard,keyboard-select,resize-font

URxvt.keysym.M-C-y: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

URxvt.keysym.C-equal: resize-font:bigger
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-0: resize-font:reset
URxvt.keysym.C-question: resize-font:show

Xft.dpi: 128
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Tokyonight colorscheme
*background: #1a1b26
*foreground: #c0caf5

! Black + DarkGrey
*color0: #15161e
*color8: #414868
! Red + BrightRed
*color1: #f7768e
*color9: #ff899d
! Green + BrightGreen
*color2: #9ece6a
*color10: #9fe044
! Yellow + BrightYellow
*color3: #e0af68
*color11: #faba4a
! Blue + BrightBlue
*color4: #7aa2f7
*color12: #8db0ff
! Magenta + BrightMagenta
*color5: #bb9af7
*color13: #c7a9ff
! Cyan + BrightCyan
*color6: #7dcfff
*color14: #a4daff
! LightGrey + White
*color7: #a9b1d6
*color15: #c0caf5
