URxvt.font: xft:Hack Nerd Font Mono:size=8
URxvt.letterSpace: 0
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: selection-to-clipboard,keyboard-select,resize-font

URxvt.keysym.M-C-y: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

URxvt.keysym.C-equal: resize-font:bigger
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-0: resize-font:reset
URxvt.keysym.C-question: resize-font:show

Xft.dpi: 96
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Tokyonight colorscheme
*background: #1a1b26
*foreground: #c0caf5

*color0: #1a1b26
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #7aa2f7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #414868
*color14: #7dcfff
*color15: #c0caf5
